.container {
  padding: 25px 60px;
  width: 1200px;
}
.authentication-text {
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  color: #17ac19;
}
.img-egg {
  width: 240px;
  display: flex;
  margin: auto;
  margin-top: 80px;
}
.img-cont {
  width: 40%;
}

.dev-copyrate {
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 300px;
  margin-right: 20px;
}

.black {
  color: black;
}

.label-for-form {
  color: black;
}

.egg-form-cont {
  margin-top: 190px;
}

.log-form {
  background-color: white;
  width: 500px;
  height: 500px;
  margin-left: 21px;
  border-radius: 10px;
  background-color: #fafafa;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.sign-in {
  margin-bottom: 35px;
  padding-top: 35px;
  padding-left: 53px;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}

.form-input {
  display: inline;
  width: 76%;
}

.login-margin {
  margin-left: 53px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.warning-pass {
  margin-bottom: -25px;
}

.submit-button {
  margin-top: 40px;
  width: 76%;
  font-size: 24px;
  background-color: #008f02;
}

.submit-button:hover {
  background-color: #007802;
}

.submit-button:focus {
  background-color: #17ac19;
}

.log-cont {
  margin-left: 10px;
}

.input-area {
  height: 50px;
}

.fa-eye::before {
  margin-left: -35px;
  cursor: pointer;
}

#loginHelp{
  display: none;
  margin-bottom: -27.5px;
}

.pass-text{
  margin-top: 15px;
}

.assessment-ref, .assessment-ref:hover{
color: #17AC19;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
}

.statistics-ref{
  color: #FAFAFA;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
}

.statistics-ref:hover{
  color: #17AC19;
}